@font-face {
    font-family: "laposte";
    src: url("fonts/laposte.eot") format("eot"), url("fonts/laposte.woff") format("woff"), url("fonts/laposte.ttf") format("truetype"), url("fonts/laposte.svg#laposte") format("svg");
    font-style: normal;
    font-weight: normal;
  }
